.article{
    width: 90%;
    height: 50%;
    float:left;
    margin:10px;
    border-radius:5px;
}

@media only screen and (min-width: 600px) {

  .article{
      width: 30%;
      height: 48%;
      float:left;
      margin:10px;
      border-radius:5px;
  }
}

.widgettitle{
  color: black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 0.9em
}

.title {
  color: black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  line-height: 1em;
  max-height: 3em;
}
.branding{
  color: darkgrey;
  font-family: Verdana;
  font-weight: bold;
  font-size: 0.7em
}

.link{
  text-decoration: none;
}

.image{
  max-width:100%;
  height:auto;
}

body {
  background-color: lightgrey;
}
